<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="appLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/app" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="app" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="jobLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/job" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="job" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="updateLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/update" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="update" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="peripheralLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/peripheral" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="peripheral" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="icLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/ic" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="ic" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="idLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/id" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="id" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="magLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/mag" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="mag" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="jsLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/js" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="js" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="buzLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/buz" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="buz" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="evaluatorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/evaluator" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="evaluator" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="printerLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/printer" />
      <appendToFile value="true" />
      <rollingStyle value="composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="printer" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="appLogFileAppender" />
      <appender-ref ref="jobLogFileAppender" />
      <appender-ref ref="updateLogFileAppender" />
      <appender-ref ref="peripheralLogFileAppender" />
      <appender-ref ref="icLogFileAppender" />
      <appender-ref ref="idLogFileAppender" />
      <appender-ref ref="magLogFileAppender" />
      <appender-ref ref="jsLogFileAppender" />
      <appender-ref ref="buzLogFileAppender" />
      <appender-ref ref="evaluatorLogFileAppender" />
      <appender-ref ref="printerLogFileAppender" />
    </root>
  </log4net>
  <autofac>
    <components>


      <component name="scriptInvoker" instance-scope="single-instance" type="Aoto.PPS.Launcher.FrmShell, Aoto.PPS.Launcher" service="Aoto.PPS.Infrastructure.ComponentModel.IScriptInvoker, Aoto.PPS.Infrastructure" />

      <component name="httpServer" instance-scope="single-instance" type="Aoto.PPS.Infrastructure.HttpServer, Aoto.PPS.Infrastructure" service="Aoto.PPS.Infrastructure.HttpServer, Aoto.PPS.Infrastructure" />

      
      <component name="heartbeat" instance-scope="single-instance" type="Aoto.CQMS.Core.Heartbeat, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Heartbeat, Aoto.CQMS.Core" />

      <component name="shutdownSevice" instance-scope="single-instance" type="Aoto.CQMS.Core.ShutdownSevice, Aoto.CQMS.Core" service="Aoto.CQMS.Core.ShutdownSevice, Aoto.CQMS.Core" />

      <!--ICBC-->
      <!--签到-->
      <component name="qmssignService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.QmssignServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IQmssignService, Aoto.CQMS.Core" />
      <!--取号-->
      <component name="custgetseqService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.CustgetseqServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ICustgetseqService, Aoto.CQMS.Core" />
      
      <!--基础设置-->
      <component name="basicconfigService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.BasicconfigServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IBasicconfigService, Aoto.CQMS.Core" />
      <!--关于-->
      <component name="aboutService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.AboutServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IAboutService, Aoto.CQMS.Core" />

      <!--工行专用-->
      <component name="icbcspecialuseService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.IcbcspecialuseServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IIcbcspecialuseService, Aoto.CQMS.Core" />

      <!--系统配置-->
      <component name="systemService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.SystemServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ISystemService, Aoto.CQMS.Core" />
     
      <!--其他网点信息-->
      <component name="brnocondsService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.BrnocondsServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IBrnocondsService, Aoto.CQMS.Core" />
      <!--营业厅分区-->
      <component name="businesshallService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.BusinesshallServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IBusinesshallService, Aoto.CQMS.Core" />
      <!--柜台配置-->
      <component name="counterconfigService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.CounterconfigServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ICounterconfigService, Aoto.CQMS.Core" />

      <!--本地号码查询-->
      <component name="localNumberQueryService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.LocalNumberQueryServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ILocalNumberQueryService, Aoto.CQMS.Core" />
      <!--队列查询-->
      <component name="queuequeryService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.QueuequeryServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IQueuequeryService, Aoto.CQMS.Core" />
      <!--预约-->
      <component name="reservationService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.ReservationServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IReservationService, Aoto.CQMS.Core" />
      <!--业务查询-->
      <component name="servicequeryService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.ServicequeryServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IServicequeryService, Aoto.CQMS.Core" />
      <!--设备状态更新-->
      <component name="stateUpdateService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.StateUpdateServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IStateUpdateService, Aoto.CQMS.Core" />
      <!--号票管理-->
      <component name="ticketsconfigService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.TicketsconfigServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ITicketsconfigService, Aoto.CQMS.Core" />
      <!--更新配置-->
      <component name="updateconfigService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.UpdateconfigServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IUpdateconfigService, Aoto.CQMS.Core" />
      <!--语音配置-->
      <component name="voiceconfigService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.VoiceconfigServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IVoiceconfigService, Aoto.CQMS.Core" />

      <!--联动关机-->
      <component name="linkageshutdownService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.LinkageshutdownServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ILinkageshutdownService, Aoto.CQMS.Core" />
      <!--本地卡Bin-->
      <component name="localcardbinService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.LocalcardbinServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ILocalcardbinService, Aoto.CQMS.Core" />
      <!--本地卡类型-->
      <component name="localcardtypeService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.LocalcardtypeServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ILocalcardtypeService, Aoto.CQMS.Core" />

      <!--删废号-->
      <component name="deleteabolishNumberService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.DeleteabolishNumberServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IDeleteabolishNumberService, Aoto.CQMS.Core" />
      <!--取号设备管理-->
      <component name="qcmConfigService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.QcmConfigServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IQcmConfigService, Aoto.CQMS.Core" />
      <!--日志管理-->
      <component name="logService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.LogServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.ILogService, Aoto.CQMS.Core" />

      <!--重启叫号盒子-->
      <component name="boxRestartService" instance-scope="single-instance" type="Aoto.CQMS.Core.Application.Impl.BoxRestartServiceImpl, Aoto.CQMS.Core" service="Aoto.CQMS.Core.Application.IBoxRestartService, Aoto.CQMS.Core" />
    
    
    </components>




    
    
  </autofac>
  <!--启动设置会指定应运行应用程序的公共语言运行时的版本-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false" />
    <connectionManagement>
      <add address="*" maxconnection="32" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="SocketLinstenPort" value="9999" />
  </appSettings>
</configuration>