<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="appLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/app"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="app" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="jobLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/job"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="job" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="updateLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/update"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="update" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="peripheralLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/peripheral"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="peripheral" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="icLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/ic"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="ic" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="idLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/id"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="id" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="magLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/mag"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="mag" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="callerLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/caller"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="caller" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="screenLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/screen"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="screen" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="evaluatorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/evaluator"/>
      <appendToFile value="true"/>
      <rollingStyle value="composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %class.%method - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="evaluator" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="appLogFileAppender"/>
      <appender-ref ref="jobLogFileAppender"/>
      <appender-ref ref="updateLogFileAppender"/>
      <appender-ref ref="peripheralLogFileAppender"/>
      <appender-ref ref="icLogFileAppender"/>
      <appender-ref ref="idLogFileAppender"/>
      <appender-ref ref="magLogFileAppender"/>
      <appender-ref ref="callerLogFileAppender"/>
      <appender-ref ref="screenLogFileAppender"/>
      <appender-ref ref="evaluatorLogFileAppender"/>
    </root>
  </log4net>
  <autofac defaultAssembly="Aoto.PPS.QMS">
    <components>
      <component name="magneticCardReaderWriter" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.MagneticCardReaderWriter, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IReader, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\AOTO_CRDR_2014_COM.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="priority" value="231" />
          <parameter name="logLevel" value="0" />
          <parameter name="track" value="23" />
        </parameters>
      </component>
      <component name="idCardReader" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.IDCardReader, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IReader, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\AOTO_IDCR_2014.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="logLevel" value="0" />
        </parameters>
      </component>
      <component name="icCardReaderWriter" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.ICCardReaderWriter, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IReader, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\AOTO_ICCR_2014_USB.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="logLevel" value="0" />
        </parameters>
      </component>
      <component name="needlePrinter" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.NeedlePrinter, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IPrinter, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\lib\HWXPrinterLib.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="name" value="EPSON LQ-90KP ESC/P2" />
        </parameters>
      </component>
      <component name="thermalPrinter" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.ThermalPrinter, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IPrinter, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="name" value="BT-T080R(U) 1" />
        </parameters>
      </component>
      <component name="caller" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.Caller, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.ICaller, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\AOTO_CALL_2014.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="logLevel" value="0" />
        </parameters>
      </component>
      <component name="evaluator" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.Evaluator, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IEvaluator, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\AOTO_APPR_2014.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="logLevel" value="0" />
        </parameters>
      </component>
      <component name="barScreen" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.BarScreen, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IWriter, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\AOTO_BERR_2014.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="logLevel" value="0" />
        </parameters>
      </component>
      <component name="compScreen" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.CompScreen, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IWriter, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\agree\AOTO_COMP_2014.dll" />
          <parameter name="timeout" value="10" />
          <parameter name="enabled" value="true" />
          <parameter name="logLevel" value="0" />
        </parameters>
      </component>

      <component name="voicePlayer" instance-scope="single-instance" type="Aoto.PPS.Peripheral.Default.VoicePlayer, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.IVoicePlayer, Aoto.PPS.Peripheral">
        <parameters>
          <parameter name="dll" value="peripheral\aoto\AOTO_VOIC_2014.dll" />
          <parameter name="enabled" value="true" />
          <parameter name="logLevel" value="0" />
        </parameters>
      </component>

      <component name="peripheralManager" instance-scope="single-instance" type="Aoto.PPS.Peripheral.PeripheralManager, Aoto.PPS.Peripheral" service="Aoto.PPS.Peripheral.PeripheralManager, Aoto.PPS.Peripheral" />
      <component name="scriptInvoker" instance-scope="single-instance" type="Aoto.PPS.PeripheralTest.FrmShell, Aoto.PPS.PeripheralTest" service="Aoto.PPS.Infrastructure.ComponentModel.IScriptInvoker, Aoto.PPS.Infrastructure"/>

    </components>
  </autofac>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false" />
    <connectionManagement>
      <add address="*" maxconnection="32" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>